<form [ng-form-model]='searchForm' style="float:left">
	<p>Search a card : <input type='text' ng-control='card'></p>
	<button (click)='onSearch($event)'>SEARCH SINGLE CARD</button>
</form>

<form [ng-form-model]='searchSpec' style="float:right">
	<h1>Search card</h1>
	<p>
		<span>Mana Cost</span>
		<input type="number" ng-control='mana'>
		<span>Attack Cost</span>
		<input type="number" ng-control='attack'>
		<span>Health Cost</span>
		<input type="number" ng-control='health'>
	</p>
	<button (click)='onSpec($event)'>SEARCH SPECIFICS CARD</button>
</form>

<div *ng-for="#data of datas"><img src="{{data.img}}" /></div>